.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, .35);
  border-radius: 30px;
  max-width: calc(840px - 200px*2);
  width: 100%;
}

@media screen and (max-width: 500px) {
  .form {
    max-width: calc(700px - 200px*2);
    padding: 7px 15px 10px;
  }
}
